PORT = #PUERTO DE CONEXION PARA LEVANTAR EL SERVIDOR | 3000

DB_HOST = # HOST DE LA BASE DE DATOS | localhost
DB_PORT = # PUERTO DE CONEXION A LA BD | 5432
DB_USERNAME = # USUARIO DE LA BD 
DB_PASSWORD = # PASSWORD DE LA BD 
DB_DATABASE = # NOMBRE DE LA BD
DB_SYNC = # true o false
DB_DROP = # true o false 